body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
span{
    color: rgb(248, 144, 8);
}
h1{
    font-size: 30px;
}
.section-first{
    display:flex;
    padding-top: 5%;
}
.half-width{
    width: 50%;
    padding-left: 15%;
}
.half-width img{
    width: 70%;
}
.click-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    font-weight: 600px;
    border-radius: 5px;
}
#left-line{
    border-left: 4px solid tomato;
    padding-left: 2%;
 
}