body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
span{
    color: rgb(248, 144, 8);
}
h1{
    font-size: 30px;
}
.section-first{
    display: flex;
    width: 80%%;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 300px;
}
}
.half-width{
    width: 50%;
    padding-left: 15%;
}
.half-width img{
    width: 50%;
    padding-left: 60px;
}
.click-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    font-weight: 600px;
    border-radius: 5px;
}
#middel{
    text-align: center;
}
#left-line{
    border-left: 4px solid tomato;
    padding-left: 5%;
}
.next-tip{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
.div-img img{
    width: 150px;
}
.mission{
    width: 300px;
    border-radius: 25px;
    background-color: rgb(245, 248, 203);
}
.vission{
    width: 300px;
    border-radius: 25px;
    background-color: rgb(248, 237, 228);
}
.goals{
    width: 300px;
    border-radius: 25px;
    background-color: rgb(201, 240, 241);
}
.just-out{
    padding-left: 7px;
}
.third-side{
    display: flex;
    width: 80%%;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 200px;
}
.fourth-side{
    width: 150%;
    padding-right: 250px;
}
.img-code img{
    width: 70%;
    margin-left: 15%;
}
.link-pad{
    padding-top: 15px;
}
.projects-talk{
    display: flex;
    width: 80%%;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 200px;
}
.research-part{
    width: 150%;
    padding-left: 250px;
}
.last-img img{
    width: 70%;
    margin-left: 65px;
}
.last{
    text-align: center;
    background-color: black;
    margin-bottom: 0 auto;
}
.font-color{
    color: white;
    padding-top: 1%;
    margin-block-end: auto;
}
.last-red{
    color: rgb(241, 65, 65);
}